<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REINFORCEMENT</title>
</head>
<body>
    <h1>Welcome to the AI Submission System</h1>
    <a href="/crowd">Go to Crowd Page</a><br>
    <a href="/admin">Go to Admin Page</a><br>
    <a href="/dev">Go to Dev Page</a>
</body>
<!-- Include Socket.IO client library -->
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
<script>
const socket = io.connect('http://' + document.domain + ':' + location.port);

socket.on('reader_selected', function(data) {
    if (data.reader_id == "{{ session.id }}") {
        alert('You have been selected as the reader!');
    }
});
</script>

</html>
